* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
  }
  
  h1 {
    color: #333;
  }
  
  #word-display {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  #remaining-chances {
    font-weight: bold;
    color: #d9534f;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  input {
    padding: 5px;
    font-size: 18px;
    width: 50px;
    text-align: center;
  }
  
  input:focus {
    outline: none;
  }
  
  #hangman-image img {
    width: 200px;
    margin-bottom: 20px;
  }

  #hangman-container {
    position: relative;
    width: 300px; /* ajuste conforme o tamanho da sua imagem */
    height: 400px; /* ajuste conforme o tamanho da sua imagem */
    margin: 0 auto;
  }
  
  #hangman-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .boneco {
    z-index: 2;
  }
  
  #base {
    z-index: 1;
  }
  
  
  